
{% extends 'base.html' %}

{% block body %}

{% if 'cart' in session %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in order_melons %}
        <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon.qty }}</td>
            <td>{{ melon.price_str() }}</td>
            <td>{{ melon.total_price_str() }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ "%.2f"|format(order_cost) }}</h3>

{% else %}
 <h3> Your cart is empty.</h3>
 {% endif %}

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
